.line-by-line-bar {
  display:inline-block;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}

.words-container {
  display: inline-block;
  font-family: 'Courier New', monospace; /* Use monospace font */
  font-size: 1rem;
}

.child {
  display: flex;
  flex: 1;
  margin-top: 0.5rem;
}

.bar {
  flex-grow: 1;
  width: 0;
  height: 1rem;
  border-radius: 4px;
}
