* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

:root {
  --primary-color: #cadbc0;
  --secondary-color: #323031;
  --other-color: #ec6981;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  --color-white: #ffffffd3;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}

.darkmode {
  --primary-color: #191d2b;
  --secondary-color: #fff;
  --other-color: #27ae60;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--secondary-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--primary-color);
}

.main-content {
  position: absolute;
  padding-top: 200px;
  top: 0%;
  left: 50%;
  width: 380px;
  height: 500px;
  transform: translateX(-50%);
  border-radius: 20px;
}

header {
  color: var(--color-secondary);
}

.sec1 {
  display: none;
  opacity: 0;
}
.sec2 {
  display: none;
  opacity: 0;
}
.sec3 {
  display: none;
  opacity: 0;
}
.sec4 {
  display: none;
  opacity: 0;
}
.active {
  display: block;
  opacity: 1;
}

.challenge-btn {
  cursor: pointer;
}

.challenge {
  width: 100%;
  height: 0vh;
  background-color: #fff;
  transition: 0.4s ease-in-out;
  border-radius: 1vh;
  overflow: hidden;
  text-align: center;
}

.challenge p {
  padding-top: 1vh;
}

.challenge-input {
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.controls .active-btn {
  background-color: var(--other-color) !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.controls .active-btn i {
  color: var(--color-white) !important;
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}

.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.theme-btn:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.box-container .box {
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}
.box-container .box input {
  padding: 5px 10px;
  height: 45px;
  font-size: 1em;
  line-height: 45px;
  border: 2px solid #ccc;
  outline: none;
  background: #fff;
  color: #a2a5a7;
}
.box-container .box input:focus + span {
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}
.box-container .box input:focus + span:before {
  top: 0;
  left: 0;
  width: 100%;
}
.box-container .box input:focus + span:after {
  bottom: 0;
  left: 0;
  width: 100%;
}
.box-container .box input + span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 2px solid var(--other-color);
  border-right: 2px solid var(--other-color);
  width: calc(100% + 100px);
  transform: translateX(-50px);
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity, width;
  transition: 0.3s ease-out;
}
.box-container .box input + span:before,
.box-container .box input + span:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 25px;
  transition-property: top, bottom;
  transition: 0.3s ease-out;
  height: 2px;
  width: calc(100% - 50px);
  background: var(--other-color);
}
.box-container .box input + span:before {
  top: -30px;
}
.box-container .box input + span:after {
  bottom: -30px;
}

.animated-button12 {
  background: linear-gradient(-30deg, #3d0b24 50%, #2b081a 50%);
  padding: 7px 9px 7px 14px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4e6;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button12::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8599;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button12:hover::before {
  opacity: 0.2;
}

.animated-button12 span {
  position: absolute;
}

.animated-button12 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(43, 8, 26, 0)),
    to(#d92680)
  );
  background: linear-gradient(to left, rgba(43, 8, 26, 0), #d92680);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button12 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(43, 8, 26, 0)),
    to(#d92680)
  );
  background: linear-gradient(to top, rgba(43, 8, 26, 0), #d92680);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button12 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(43, 8, 26, 0)),
    to(#d92680)
  );
  background: linear-gradient(to right, rgba(43, 8, 26, 0), #d92680);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button12 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(43, 8, 26, 0)),
    to(#d92680)
  );
  background: linear-gradient(to bottom, rgba(43, 8, 26, 0), #d92680);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.main-title {
  text-align: center;
  transform: translateY(-100px);
}

.main-title h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h3 span {
  color: var(--color-secondary);
}

.main-title h3 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

.gallery {
    position: absolute;
    top:300px;
    left:50%;
    width: 1000px;
    height: 600px;
    transform: translateX(-50%);
    text-align: center;
}

.portfolios {
  display: flex;
  padding-top: 2vh;
  justify-content: space-around;
}

.portfolios .portfolio-item {
  width: 46%;
  height: 300px;
  border-radius: 15px;
}

.portfolios .portfolio-item img {
  width: 100%;
  height:300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 300px;
  background-color: var(--color-secondary);
  position: relative;
  left: 0;
  top: -300px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}